<div class="about center">
    <h1>
      {% if site.language == "en" %}
      Hello, welcome to <span class="about__name">{{ site.about.name.en }}</span>
      {% else %}
      Velkommen til 
      {% endif %}
    </h1>
  
    <h2 class="about__role">
      {% if site.language == "en" %}
      {{ site.about.role.en }}
      {% else %}
      {{ site.about.role.da }}
      {% endif %}
    </h2>
  
    <p class="about__desc">
      {% if site.language == "en" %}
      {{ site.about.description.en }}
      {% else %}
      {{ site.about.description.da }}
      {% endif %}
    </p>
  </div>