<section id="experience" class="section projects">
    <h2 class="section__title">Experience</h2>
  
    <div class="projects__grid">
    {% for project in site.projects %}
        <div class="project">
        <h3>{{ project.name }}</h3>
        <p class="project__description">{{ project.description }}</p>

        <ul class="project__stack">
        {% for item in project.stack %}
            <li class="project__stack-item">{{ item }}</li>
        {% endfor %}
        </ul>
        </div>
    {% endfor %}
    </div>
  </section>