<header>
    <h3>{{ site.title }}</h3>
    <nav>
        <ul class="nav__list">
            <li class="nav__list-item"><a href="#about">About</a></li>
            <li class="nav__list-item"><a href="#projects">Projects</a></li>
            <li class="nav__list-item"><a href="#skills">Skills</a></li>
            <li class="nav__list-item"><a href="#contact">Contact</a></li>
            </ul>
    </nav>
  
    <button id="theme-toggle">Toggle Theme</button>
    
    <button id="lang-toggle">Switch Language</button>
  </header>